<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="canvasSettings" type="Facebook.Web.CanvasConfigurationSettings, Facebook.Web"/>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
	</configSections>
	<log4net>
		<appender name="PAYPALLOGFILE" type="log4net.Appender.RollingFileAppender">
			<file value="log/paypal.aspnet.log"/>
			<appendToFile value="true"/>
			<encoding value="UTF-8"/>
			<rollingStyle value="5"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd MMM yyyy HH:mm:ss} %-5p [%C{1}] %m%n"/>
			</layout>
		</appender>
		<logger name="com.paypal.sdk">
			<level value="ALL"/>
			<appender-ref ref="PAYPALLOGFILE"/>
		</logger>
	</log4net>
	<connectionStrings>
		<add name="Eventomatic" connectionString="Data Source=GROUPSTORE\SQLExpress; Database=Eventomatic; Integrated Security=true;"/>
		<add name="EventomaticConnectionString" connectionString="Data Source=GROUPSTORE\SQLExpress;Initial Catalog=Eventomatic;Integrated Security=True"/>
		<!--<add name="Eventomatic" connectionString="Data Source=DB1; Database=24194_; uid=SellitAll;pwd=x339211x;"/>    
    <add name="EventomaticConnectionString" connectionString="Data Source=DB1;Initial Catalog=24194_;uid=SellitAll;pwd=x339211x;"/>
    -->
	</connectionStrings>
	<appSettings>
		<add key="fbAppID" value="5077249571"/>
		<add key="APIKey" value="e56b8159f39e86e8a858cea345f5b09c"/>
		<add key="Secret" value="ab750da3eb9f35a0720ee0d2542ec95f"/>
		<add key="Callback" value="http://localhost:31578"/>
		<add key="Suffix" value="Sellitall"/>
		<add key="Default_Email_From" value="noreply@SellitAllStore.com"/>
		<add key="Store_URL" value="http://localhost:31578/"/>
		<add key="Order_Form_ReturnURL" value="http://www.sellitallstore.com/Order_Confirmation.aspx?Event_Key="/>
		<add key="Order_Form_IPNURL" value="http://www.sellitallstore.com/IPNing.aspx?Tx_Key="/>
		<add key="Order_Form_ActionURLTrial" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
		<add key="Order_Form_ActionURLLive" value="https://www.paypal.com/cgi-bin/webscr"/>
		<add key="Trial_Email" value="lorne_1261162805_per@lornestar.com"/>
		<add key="Default_SFP" value="1.0"/>
		<add key="Default_SFC" value="0"/>
		<add key="Default_SFM" value="100"/>
		<add key="Root_URL" value="http://apps.facebook.com/speedmeeting/"/>
		<add key="Free_Q1" value="16"/>
		<add key="Free_Q2" value="17"/>
		<add key="Free_Q3" value="18"/>
		<add key="AppID" value="APP-80W284485P519543T"/>
		<add key="APIUsername" value="kingbbj3_api1.hotmail.com"/>
		<add key="APIPassword" value="S443C2DAJGP6RLVW"/>
		<add key="APISignature" value="AUrjP2jzLHcMNdhI4ZGpQi5mp2dDAY.WI2SU5Atj3.3QyIdncp8DiusN"/>
		<add key="AppID_Live" value="APP-2C6144453A649541S"/>
		<add key="APIUsername_Live" value="Lorne_api1.Lornestar.com"/>
		<add key="APIPassword_Live" value="96NASW6BU7CPC4HQ"/>
		<add key="APISignature_Live" value="AFcWxV21C7fd0v3bYYYRCpSSRl31APi5ZLeO5Qx7l8u0PgC9svicQT1w"/>
		<add key="Live_Environment" value="https://svcs.paypal.com/"/>
		<add key="Trial_Environment" value="https://svcs.sandbox.paypal.com/"/>
		<add key="My_Email_Trial" value="kingbbj3@hotmail.com"/>
    <add key="Host_Email_Trial" value="lorne_1242411549_biz@lornestar.com"/>
		<add key="My_Email_Live" value="Lorne@Lornestar.com"/>    
		<add key="PayCC_URL" value="https://www.thegroupstore.com/paycc.aspx"/>
		<add key="ErrorToEmail" value="Lorne@Lornestar.com"/>
		<add key="ReferralRate" value=".5"/>
		<add key="Telerik.Skin" value="Vista"/>
    <add key="Graph_Pic_Url" value="https://graph.facebook.com/fbid/picture"/>
		<add key="LoggedOut_URL" value="http://localhost:63932/Loggedout.aspx"/>
    <add key="canvasUrl" value="http://localhost:31578/"/>
    <add key="3rdParty_Email_Trial" value="perm@lornestar.com"/>
    <add key="pf_demo_resourcekey" value="137"/>
    <add key="Service_Fee_payasyougo" value="1"/>
    <add key="Monthly_Service_Fee" value="29.00"/>
	</appSettings>
	<SubSonicService defaultProvider="Eventomatic">
		<providers>
			<clear/>
			<add name="Eventomatic" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Eventomatic" generatedNamespace="Eventomatic_DB"/>
		</providers>
	</SubSonicService>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/demo</LookFor>
        <SendTo>~/PayForward2.aspx?Resource_Key=137</SendTo>
      </RewriterRule>      
      <RewriterRule>
        <LookFor>~/Order_Form.aspx</LookFor>
        <SendTo>~/event/Order_Form2.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Order_Form2.aspx</LookFor>
        <SendTo>~/event/Order_Form2.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/event/(\d{1,5})</LookFor>
        <SendTo>~/event/Order_Form2.aspx?event_key=$1</SendTo>
      </RewriterRule>      
    </Rules>
  </RewriterConfig>
  <facebookSettings appId="5077249571" appSecret="ab750da3eb9f35a0720ee0d2542ec95f" canvasPage="http://apps.facebook.com/speedmeeting/" canvasUrl="http://localhost:31578/"/>  
	<system.net>
		<mailSettings>
			<smtp from="receipt@sellitallstore.com">
				<network host="mail.sellitallstore.com" port="25" userName="receipt@sellitallstore.com" password="@nt1gen"/>
				<!--<smtp from="receipt@SellitAllStore.com">
        <network host="mail.Lornestar.com" port="25" userName="Lorne@Lornestar.com" password="e@arlmmad"/>
      </smtp>-->
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
	<!--	<sessionState cookieless="AutoDetect"></sessionState>-->
		<healthMonitoring enabled="true">
			<eventMappings>
				<clear/>
				<!-- Log ALL error events -->
				<add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
				<!-- Log application startup/shutdown events -->
				<add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647"/>
			</eventMappings>
			<providers>
				<clear/>
				<!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
				<add connectionStringName="Eventomatic" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider"/>
			</providers>
			<rules>
				<clear/>
				<add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
			</rules>
		</healthMonitoring>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		--><compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<!--<add assembly="Infragistics2.WebUI.UltraWebGrid.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Shared.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Infragistics2.WebUI.UltraWebTab.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Infragistics2.WebUI.WebDateChooser.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDataInput.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebCalcManager.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Misc.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistic2.Excel.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebChart.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<add assembly="Infragistics35.WebUI.Excel.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Misc.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Shared.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.UltraWebCalcManager.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.UltraWebChart.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.UltraWebGrid.ExcelExport.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.UltraWebGrid.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.UltraWebTab.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.WebDataInput.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.WebDateChooser.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.WebScheduleDataProvider.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics35.WebUI.UltraWebToolbar.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Telerik.Web.UI, Version=2010.3.1109.35, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		--><authentication mode="Windows"/>
		<customErrors mode="Off">
			<!--<error statusCode="404" redirect="Error404.aspx" />
      <error statusCode="500" redirect="CustomError.aspx" />-->
		</customErrors>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="igtab" assembly="Infragistics35.WebUI.UltraWebTab.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.UltraWebTab"/>
				<add tagPrefix="igtbl" assembly="Infragistics35.WebUI.UltraWebGrid.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.UltraWebGrid"/>
				<add tagPrefix="igexcel" namespace="Infragistics.Excel" assembly="Infragistics35.WebUI.Excel.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add tagPrefix="igtblexp" assembly="Infragistics35.WebUI.UltraWebGrid.ExcelExport.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.UltraWebGrid.ExcelExport"/>
				<add tagPrefix="igchart" namespace="Infragistics.WebUI.UltraWebChart" assembly="Infragistics35.WebUI.UltraWebChart.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igchartprop" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics35.WebUI.UltraWebChart.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igchartdata" namespace="Infragistics.UltraChart.Data" assembly="Infragistics35.WebUI.UltraWebChart.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igcalc" namespace="Infragistics.WebUI.UltraWebCalcManager" assembly="Infragistics35.WebUI.UltraWebCalcManager.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics35.WebUI.WebDateChooser.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igtxt" namespace="Infragistics.WebUI.WebDataInput" assembly="Infragistics35.WebUI.WebDataInput.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igmisc" namespace="Infragistics.WebUI.Misc" assembly="Infragistics35.WebUI.Misc.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="ig_sched" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics35.WebUI.WebSchedule.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="ig_scheduledata" namespace="Infragistics.WebUI.Data" assembly="Infragistics35.WebUI.WebScheduleDataProvider.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add tagPrefix="igtbar" assembly="Infragistics35.WebUI.UltraWebToolbar.v10.1, Version=10.1.20101.1011, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.UltraWebToolbar"/>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
			</controls>
		</pages>
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		--><httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />      
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
		</httpModules>
		<siteMap>
			<providers>
				<add name="SiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Sitemap.sitemap"/>
				<add name="Admin" type="System.Web.XmlSiteMapProvider" siteMapFile="Admin.sitemap"/>
			</providers>
		</siteMap>    
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<remove name="RadUploadModule"/>
			<remove name="RadCompression"/><add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode,runtimeVersionv2.0"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="ChartImage_axd"/>
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
			<remove name="Telerik_Web_UI_DialogHandler_aspx"/>
			<remove name="Telerik_RadUploadProgressHandler_ashx"/>
			<remove name="Telerik_Web_UI_WebResource_axd"/><add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
		</handlers>
    <handlers>
      <add name="facebookredirect" path="facebookredirect.axd" verb="*" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web"/>
    </handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding></runtime>
</configuration>
