/* <RadMenu / Vista> */

.RadMenu_Purple .rmRootGroup,
.RadMenu_Purple .rmFirst,
.RadMenu_Purple a.rmLink,
.RadMenu_Purple .rmText,
.RadMenu_Purple .rmLeftArrow,
.RadMenu_Purple .rmRightArrow,
.RadMenu_Purple .rmTopArrow,
.RadMenu_Purple .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Purple .rmRootGroup
{
	border: 1px solid #c4b6cc;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #eddff5;
}

.RadMenu_Purple .rmFirst
{
	background-position: 0 -24px;
}

.RadMenu_Purple .rmVertical .rmFirst,
.RadMenu_Purple .rmVertical .rmLast
{
	background: none;
	padding: 0;
}

/* <Root items> */

.RadMenu_Purple,
.RadMenu_Purple a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu_Purple a.rmLink,
.RadMenu_Purple .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Purple a.rmLink:hover,
.RadMenu_Purple a.rmFocused,
.RadMenu_Purple a.rmSelected
{
	background-position: 0 -72px;
}

.RadMenu_Purple a.rmLink:hover .rmText,
.RadMenu_Purple a.rmFocused .rmText,
.RadMenu_Purple a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Purple a.rmExpanded,
.RadMenu_Purple a.rmExpanded:hover
{
	background-position: 0 -120px;
}

.RadMenu_Purple a.rmExpanded .rmText,
.RadMenu_Purple a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Purple a.rmDisabled,
.RadMenu_Purple a.rmDisabled:hover
{
	color: #7d7d7d;
}

.RadMenu_Purple a.rmDisabled:hover,
.RadMenu_Purple a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Purple .rmGroup,
.RadMenu_Purple .rmMultiColumn,
.RadMenu_Purple .rmGroup .rmVertical
{
	border: 1px solid #969696;
	background: #f0f0f0 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_Purple .rmTopFix,
.RadMenu_Purple .rmBottomFix,
.RadMenu_Purple .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Purple .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Purple .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Purple_Context.rmRoundedCorners .rmGroup .rmItem
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f0f0; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Purple .rmGroup .rmItem
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f0f0; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Purple .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Purple .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Purple .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Purple_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Purple .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Purple .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Purple .rmHorizontal .rmItem,
* html .rmRoundedCorners_Purple .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Purple .rmRoundedCorners .rmGroupColumn
{
	background-color: #f0f0f0;
}

.RadMenu_Purple .rmBottomLeft,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Purple_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Purple .rmRoundedCorners ul.rmGroup,
.RadMenu_Purple .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Purple .rmScrollWrapContainer,
* html .rmRoundedCorners_Purple .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Purple ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Purple .rmTopRight,
.RadMenu_Purple .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Purple .rmTopFix,
.RadMenu_Purple .rmBottomFix,
.RadMenu_Purple .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Purple_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Purple .rmGroup .rmFirst
{
	border-color: #969696;
}

.RadMenu_Purple li.rmTopFix,
.RadMenu_Purple li.rmBottomFix
{
	background: #f0f0f0;
}

.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f0f0;
	border: 0;
}

* html .rmRoundedCorners_Purple .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Purple .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Purple .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Purple .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f0f0;
	border: 0;
}

.RadMenu_Purple_rtl .rmBottomLeft,
.RadMenu_Purple_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Purple_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Purple .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Purple_Context_rtl ul.rmGroup,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Purple_rtl .rmTopRight,
.RadMenu_Purple_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Purple_rtl li.rmTopFix,
.RadMenu_Purple_rtl li.rmBottomFix,
.RadMenu_Purple_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Purple_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Purple .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Purple_rtl .rmGroup,
.RadMenu_Purple_rtl .rmMultiColumn,
.RadMenu_Purple_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_Purple .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Purple .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Purple .rmGroup .rmFirst,
.RadMenu_Purple .rmGroup .rmLast,
.RadMenu_Purple .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Purple_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Purple .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Purple .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Purple .rmGroup a.rmLink:hover,
.RadMenu_Purple .rmGroup a.rmFocused,
.RadMenu_Purple .rmGroup a.rmSelected,
.RadMenu_Purple .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Purple .rmGroup a.rmLink:hover .rmText,
.RadMenu_Purple .rmGroup a.rmFocused .rmText,
.RadMenu_Purple .rmGroup a.rmSelected .rmText,
.RadMenu_Purple .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Purple .rmVertical .rmExpandRight,
.RadMenu_Purple_Context .rmGroup .rmExpandRight,
.RadMenu_Purple .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Purple .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_Purple .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_Purple .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_Purple .rmVertical a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Purple .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_Purple .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_Purple .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_Purple .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Purple .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Purple .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Purple .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Purple .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Purple .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Purple .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Purple .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Purple .rmVertical a.rmDisabled:hover .rmExpandRight,
.RadMenu_Purple_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Purple_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Purple .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Purple_rtl a.rmLink:hover,
.RadMenu_Purple_rtl a.rmFocused,
.RadMenu_Purple_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_Purple_rtl a.rmLink:hover .rmText,
.RadMenu_Purple_rtl a.rmFocused .rmText,
.RadMenu_Purple_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_Purple_rtl a.rmExpanded,
.RadMenu_Purple_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_Purple_rtl a.rmExpanded .rmText,
.RadMenu_Purple_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_Purple_rtl .rmGroup a.rmLink:hover,
.RadMenu_Purple_rtl .rmGroup a.rmFocused,
.RadMenu_Purple_rtl .rmGroup a.rmSelected,
.RadMenu_Purple_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Purple_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Purple_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Purple_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Purple_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Purple_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_Purple_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Purple_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Purple_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Purple_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_Purple_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Purple_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_Purple_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Purple_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Purple_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Purple_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Purple_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_Purple_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Vista - specific, overlapping submenus)> */

.RadMenu_Purple .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Purple .rmVertical .rmSlide,
.RadMenu_Purple .rmSlide .rmSlide,
.RadMenu_Purple_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Purple_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Purple_rtl .rmVertical .rmSlide,
.RadMenu_Purple_rtl .rmSlide .rmSlide,
.RadMenu_Purple_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Purple .rmLeftArrow,
.RadMenu_Purple .rmRightArrow
{
	background-color: #eddff5;
}

.RadMenu_Purple .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #c4b6cc; }
.RadMenu_Purple .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #c4b6cc; }

.RadMenu_Purple .rmTopArrow,
.RadMenu_Purple .rmBottomArrow,
.RadMenu_Purple .rmGroup .rmLeftArrow,
.RadMenu_Purple .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Purple .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #c4b6cc; }
.RadMenu_Purple .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #c4b6cc; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Purple .rmVertical .rmSeparator .rmText,
.RadMenu_Purple .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Purple .rmHorizontal .rmSeparator .rmText,
.RadMenu_Purple .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Vista> */
